<div class="container">
    <div class="container_texto">
      <h1>Sing In</h1>
    </div>
    <div class="singIn">
      <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username"  name="username" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <div class="button">
          <button (click)="login()" >Log In</button>
        </div>
        <a href="singup.html">Sing Up</a>
      </form>
    </div> 
</div>